.header {
    width: 92%;
    margin: 28px auto auto auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .header {
        width: 90.62%;
    }

}

@media screen and (max-width:768px) {
    .header {
        width: 94%;
    }
}

@media screen and (max-width:320px) {
    .header {
        width: 90%;
        margin: 16px auto auto auto;
    }
}