.lead__title {
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;
    margin: 56px auto auto auto;
}

@media screen and (max-width:1024px) {
    .lead__title {
        margin-top: 48px;
    }
}

@media screen and (max-width:720px) {
    .lead__title {
        max-width: 688px;
        font-size: 58px;
        line-height: 100%;
    }
}

@media screen and (max-width:425px) {
    .lead__title {
        max-width: 402px;
        font-size: 42px;
        line-height: 44px;
    }
}

@media screen and (max-width:320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
    }
}