.cover__overlay {
    background-image: url(../../../images/__background-Baikal.png);
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: 100% auto ;
    background-position: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    z-index: 0;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
}

.cover__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity .3s ease;
}

.cover__overlay:hover:before {
    opacity: 0.8;
}

@media screen and (max-width:1024px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width:768px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width:506px) {
    .cover__overlay {
        max-width: 506px;
        min-height: 316px;
    }
}

@media screen and (max-width:320px) {
    .cover__overlay {
        max-width: 320px;
        min-height: 200px;
    }
}