.place__website {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}



@media screen and (max-width:695px) {
    .place__website {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width:320px) {
    .place__website {
        width: 90%;
    }
}